# dependencies
node_modules
.pnp
.pnp.js

# production
dist
build
.next
out

# environment
.env
.env.local
.env.production
.env.development
.env.staging

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# turbo
.turbo

# vercel
.vercel

# coverage
coverage
*.lcov

# prisma
*.db
*.sqlite
*.db-journal

# misc
*.tsbuildinfo
.cache
tmp/
temp/

# gas build
apps/gas/dist/
apps/gas/*.zip
